<div class="row ml-0 mt-3">
  <h4>Inbox</h4>
</div>
<div class="row ml-0 mt-2 mb-3">
  <%= link_to 'New Message', new_user_message_path(current_user.id), class: ["btn", "btn-primary"] %>
</div>

<br/>

<div class="row ml-0 mt-3">
  <h5>Received Messages</h5>
</div>
<div class="row ml-0">
  <% if @received_messages.count == 0 %>
    <div class="row ml-0 mt-3">
      <p>You don't have any messages!</p>
    </div>
  <% else %>
    <div class="row ml-0 mt-3">
      <table class="table">
        <thead>
        <th scope="col">From</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <% @received_messages.each_with_index do |message| %>
          <tr>
            <td><%= link_to message.user.username, user_path(message.user.id) %></td>
            <td><%= message.content %></td>
            <td><%= message.date %></td>
            <td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", message, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="row ml-0 mt-3">
  <h5>Sent Messages</h5>
</div>
<div class="row ml-0">
  <% if @sent_messages.count == 0 %>
    <div class="row ml-0 mt-3">
      <p>You haven't sent any messages!</p>
    </div>
  <% else %>
    <div class="row ml-0 mt-3">
      <table class="table">
        <thead>
        <th scope="col">For</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <% @sent_messages.each_with_index do |message| %>
          <tr>
            <td><%= link_to User.find(message.receptor).username, user_path(message.receptor) %></td>
            <td><%= message.content %></td>
            <td><%= message.date %></td>
            <td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", message, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<div class="row ml-0 mt-3">
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', root_path %></button>
</div>