<p id="notice"><%= notice %></p>

<h3>My Organization Roles</h3>

<table>
  <thead>
  <th>Organization</th>
  <th>User</th>
  <th>Role</th>
  </thead>
  <tbody>
  <% @organization_roles.each_with_index do |organization_role| %>
    <tr>
      <td><%= link_to organization_role.organization.name, organization_path(organization_role.organization_id) %></td>
      <td><%= link_to organization_role.user.username, user_path(organization_role.user_id) %></td>
      <td><%= organization_role.role %></td>
      <th> | </th>
      <td><%= link_to 'Edit', edit_organization_role_path(organization_role) %></td>
      <th> - </th>
      <td><%= link_to 'Destroy', organization_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back %>
