
<div class="row ml-0 mt-3">
  <h4>My Organization Roles</h4>
</div>
<div class="row ml-0">
  <p id="notice"><%= notice %></p>
  <table class="table">
    <thead>
    <th scope="col">N</th>
    <th scope="col">Organization</th>
    <th scope="col">User</th>
    <th scope="col">Role</th>
    </thead>
    <tbody>
    <% @organization_roles.each_with_index do |organization_role, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to organization_role.organization.name, organization_path(organization_role.organization_id) %></td>
        <td><%= link_to organization_role.user.username, user_path(organization_role.user_id) %></td>
        <td><% if organization_role.role == 0%> Normal <% else %> Moderator <% end %></td>
        <th> | </th>
        <!-- <td><%= link_to 'Edit', edit_organization_role_path(organization_role) %></td>
        <th> - </th>
        <td><%= link_to 'Destroy', organization_role, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
    </tbody>
  </table>
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
</div>
