
<div class="row ml-0 mt-3">
  <h4>Users</h4>
</div>
<div class="row ml-0">
  <p id="notice"><%= notice %></p>
</div>
<div class="row ml-0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each_with_index do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user.id) %></td>
        <td><%= user.name %> <%= user.lastName %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', root_path %></button>