
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @user.each_with_index do |user| %>
      <h3><%= user.username %></h3>
    <% end %>
    <%= image_tag(src="http://placehold.it/80", width: "300px", background: "#55595c", color: "#eceeef") %>
  </ul>
</div>
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @user.each_with_index do |user| %>
      <li><strong>Name:</strong> <%= user.name %> <%= user.lastName %></li>
      <li><strong>Mail:</strong> <%= user.email %></li>
      <li><strong>Biography:</strong> <%= user.biography %></li>
      <li><strong>Role:</strong> <% if user.mainRole == 0 %> Common <% else %> Administrator <% end %></li>
    <% end %>
  </ul>
</div>

<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>