<p id="notice"><%= notice %></p>

<% @user.each_with_index do |user| %>
  <h3><%= user.username %></h3>
<% end %>

<table>
  <tbody>
  <% @user.each_with_index do |user| %>
    <tr>Name: <%= user.name %> <%= user.lastName %></tr><br>
    <tr>Mail: <%= user.email %></tr><br>
    <tr>Biography: <%= user.biography %></tr><br>
    <tr>Role: <% if user.mainRole == 0 %> Common <% else %> Administrator <% end %></tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', :back %>