<p id="notice"><%= notice %></p>

<% @user.each_with_index do |user| %>
  <h3><%= user.username %></h3>
<% end %>

<table>
  <tbody>
  <% @user.each_with_index do |user| %>
    <li>Name: <%= user.name %> <%= user.lastName %></li>
    <li>Mail: <%= user.email %></li>
    <li>Biography: <%= user.biography %></li>
    <li>Role: <%= user.mainRole %></li>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', :back %>