
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @user.each_with_index do |user| %>
      <h3><%= user.username %>
        <% if user.id == @current_user.id %>
          <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_user_path(@current_user.id) %></button>
        <% end %>
      </h3>
      <% if user.profile_image.attached? == true%>
        <%= image_tag(user.profile_image, width: "250px", background: "#55595c", color: "#eceeef") %>
      <% else %> <%= image_tag(src="http://placehold.it/80", width: "250px", background: "#55595c", color: "#eceeef") %> <% end %>
    <% end %>
  </ul>
</div>
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @user.each_with_index do |user| %>
      <li><strong>Name:</strong> <%= user.name %> <%= user.lastName %></li>
      <li><strong>Mail:</strong> <%= user.email %></li>
      <li><strong>Biography:</strong> <%= user.biography %></li>
      <li><strong>Role:</strong> <% if user.mainRole == 0 %> Common <% else %> Administrator <% end %></li>
    <% end %>
  </ul>
</div>

<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>