<p id="notice"><%= notice %></p>

<h3>Created Events</h3>

<table>
  <thead>
  <th>Event</th>
  <th>Date</th>
  </thead>
  <tbody>
  <% @events.each_with_index do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.date %></td>
      <th> | </th>
      <!-- <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <th> - </th>
      <td><%= link_to ' Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Event', new_event_path %> -->

<br><br>

<%= link_to 'Back', :back %>