<div class="row ml-0 mt-3">
  <h4>Created Events</h4>
</div>

<div class="btn-block ml-0 mt-2 mb-3">
  <%= link_to "Create Event as " + @current_user.username, new_user_event_path(@current_user.id), class: ["btn", "btn-primary"] %>
  <% @moderator.each do |moderator| %>
    <%= link_to "Create Event as " + Organization.where(id: moderator).pluck(:name)[0] , new_organization_event_path(moderator), class: ["btn", "btn-primary"] %>
  <% end %>
</div>

<div class="row ml-0 mt-3">
  <% if @events.count == 0 %>
    <div class="row ml-0">
      No created events at the moment!
    </div>
  <% else %>
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if event.image.attached? == true%>
            <%= image_tag(event.image, class: "card-img-top", width: "400px", background: "#55595c", color: "#eceeef") %>
          <% else %> <%= image_tag("thumbnail.svg", class: "card-img-top", width: "400px", background: "#55595c", color: "#eceeef") %> <% end %>
          <div class="card-body">
            <p class="card-text"><%= link_to event.name, event %></p>
            <p class="card-text"><%= event.date %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", event %></button>
                <% if event.creator_type == "User" %>
                  <% if @current_user.id == event.creator_id %>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
                  <% end %>
                <% elsif event.creator_type == "Organization" %>
                  <% if OrganizationRole.where(user_id: @current_user.id, organization_id: event.creator_id).pluck("role") == [1] %>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
                  <% end %>
                <% end %>
              </div>
              <% if event.date != nil %>
                <small class="text-muted"><%= "#{(event.date.to_date - DateTime.now.to_date).to_i} days left!" %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row ml-0 mt-3">
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', root_path %></button>
</div>