<div class="row ml-0 mt-3">
  <h2>New Event</h2>
</div>
<div class="row ml-0 mt-2">
  <p>Please enter the required information to create a new event:</p>
</div>

<% url = request.path_info %>
<% if url.include?('user') %>
  <div class="row ml-0">
    <%= form_with model: [current_user, @event], local: true do |form| %>
      <%= errors_for @event %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.hidden_field :creator_type, value: "User" %>
        <%= form.hidden_field :creator_id, value: current_user.id %>
        <%= form.hidden_field :creation_date, value: Time.current %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :date %>
        <%= form.text_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :Make_private %>
        <%= form.check_box :privacy, {}, 1, 0 %>
      </div>
      <div class="form-group">
        <%= form.label :Event_image %>
        <%= form.file_field :image, class: "form-control-file" %>
      </div>
      <div class="form-group mt-2">
        <%= form.submit "Create", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", user_events_path(current_user.id), class: ["btn", "btn-secondary"] %>
      </div>
    <% end %>
  </div>
<% else %>
  <% path_segments = url.split("/") %>
  <% @organization = Organization.find(path_segments[2]) %>
  <div class="row ml-0">
    <%= form_with model: [@organization, @event], local: true do |form| %>
      <%= errors_for @event %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.hidden_field :creator_type, value: "Organization" %>
        <%= form.hidden_field :creator_id, value: path_segments[2] %>
        <%= form.hidden_field :creation_date, value: Time.current %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :location %>
        <%= form.text_field :location, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :date %>
        <%= form.text_field :date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :Make_private %>
        <%= form.check_box :privacy, {}, 1, 0 %>
      </div>
      <div class="form-group">
        <%= form.label :Event_image %>
        <%= form.file_field :image, class: "form-control-file" %>
      </div>
      <div class="form-group mt-2">
        <%= form.submit "Create", class: ["btn", "btn-primary"] %>
        <%= link_to "Back", user_events_path(current_user.id), class: ["btn", "btn-secondary"] %>
      </div>
    <% end %>
  </div>
<% end %>
