<p id="notice"><%= notice %></p>

<% @event.each_with_index do |event| %>
  <h3><%= event.name %></h3>
<% end %>

<table>
  <thead>
  <th>Description</th>
  <th>Date</th>
  </thead>
  <tbody>
  <% @event.each_with_index do |event| %>
    <tr>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', root_path %>
