<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <h3 class="card-title"><%= event.name %></h3>
    <% end %>
    <%= image_tag("thumbnail.svg", width: "400px", background: "#55595c", color: "#eceeef") %>
  </ul>
</div>
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <li><strong>Date:</strong> <%= event.date %></li>
      <li><strong>Description:</strong> <%= event.description %></li>
    <% end %>
  </ul>
</div>

<br>
<h4>Poll Section</h4>
<div class="card" style="width: 24rem;">
  <% @event.each_with_index do |event| %>
    <h5 class="card-title"><% @votes.each_with_index do |vote| %>
        <tr>
          <h5><%= vote.options %></h5>
        </tr>
      <% end %></h5>
  <% end %>
  <div class="card-body">
    <strong>(1)</strong><span class="pull-right"> <%= @votes1 %></span><br>
    <strong>(2)</strong><span class="pull-right"> <%= @votes2 %></span>
    <br><br>
    <p>
      <button type="button" class="btn btn-sm btn-outline-secondary">Vote</button>
    </p>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading">
        <span class="comment"></span>
        <h4 class="panel-title">Recent Comments</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @comments.each_with_index do |comment| %>
            <tr>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-10 col-md-12">
                    <div>
                      <%= link_to comment.username, user_path(comment.id) %>
                    </div>
                    <div class="col-xs-10 col-md-12">
                      <%= comment.content %>
                    </div>
                  </div>
                </div>
              </li>
            </tr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
