<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <h4 class="card-title"><%= event.name %>
        <% if user_signed_in? %>
          <% if event.creator_type == "User" %>
            <% if current_user.id == event.creator_id %>
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
              <p class="float-right">
                <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
              </p>
            <% end %>
          <% elsif event.creator_type == "Organization" %>
            <% if OrganizationRole.where(user_id: current_user.id, organization_id: event.creator_id).pluck("role") == [1] %>
              <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
              <p class="float-right">
                <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
              </p>
            <% end %>
          <% end %>
          <!-- button to assist public event
        <% if !@guests.pluck(:user_id).include? current_user.id & event.privacy == 0 %>
          <p class="float-right">
            <button type="button" class="btn btn-sm btn-outline-danger">
              <%= link_to "Assist", {:controller => 'invitations', :action => 'create', :user_id => current_user.id, :event_id => event, :host => '0'}, {:method => :post} %>
            </button>
          </p>
        <% end %>
        -->
        <% end %>

        <% if admin_signed_in? %>
          <p class="float-right">
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
            <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
          </p>
        <% end %>
      </h4>
      <% if event.image.attached? == true%>
        <%= image_tag(event.image, width: "400px", background: "#55595c", color: "#eceeef") %>
      <% else %> <%= image_tag("thumbnail.svg", width: "400px", background: "#55595c", color: "#eceeef") %> <% end %>
    <% end %>
  </ul>
</div>

<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <% if event.creator_type == "User" %>
        <li><strong>Host:</strong> <%= link_to User.where(id: event.creator_id).pluck("username")[0], user_path(event.creator_id) %></li>
      <% else %>
        <li><strong>Host:</strong> <%= link_to Organization.where(id: event.creator_id).pluck("name")[0], organization_path(event.creator_id)%> </li>
      <% end %>
      <li><strong>Date:</strong> <%= event.date %></li>
      <li><strong>Location:</strong> <%= event.location %></li>
      <li><strong>Description:</strong> <%= event.description %></li>
    <% end %>
  </ul>
</div>

<div class="row ml-0 mt-3">
  <h4>Guest List</h4>
</div>
<% if user_signed_in? %>
  <div class="row ml-0 mt-3">
    <% if @event[0].creator_type == "User" %>
      <% if current_user.id == @event[0].creator_id %>
        <%= link_to 'Invite', new_event_invitation_path(@event[0].id), class: ["btn", "btn-primary"] %>
      <% end %>
    <% elsif @event[0].creator_type == "Organization" %>
      <% if OrganizationRole.where(user_id: current_user.id, organization_id: @event[0].creator_id).pluck("role") == [1] %>
        <%= link_to 'Invite', new_event_invitation_path(@event[0].id), class: ["btn", "btn-primary"] %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="row ml-0 mt-3">
  <div class="row ml-0">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <% @guests.each_with_index do |guest| %>
        <tr>
          <td><%= link_to User.find(guest.user_id).username, user_path(guest.user_id) %></td>
          <td><%= User.find(guest.user_id).name %> <%= User.find(guest.user_id).lastName %></td>

          <% if user_signed_in? %>
            <% if @event[0].creator_type == "User" %>
              <% if current_user.id == @event[0].creator_id and guest.user_id != current_user.id  %>
                <td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", guest, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button></td>
              <% end %>
            <% elsif @event[0].creator_type == "Organization" %>
              <% if OrganizationRole.where(user_id: current_user.id, organization_id: @event[0].creator_id).pluck("role") == [1] and guest.user_id != current_user.id %>
                <td><button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", guest, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>
<h4>Poll Section</h4>
<div class="card" style="width: 24rem;">
  <% if @votes_title.count == 0 %>

    <% if user_signed_in? %>
      <% if @event[0].creator_type == "User" %>
        <% if current_user.id == @event[0].creator_id %>
          <div class="row ml-0 ">
            <%= link_to "Create Poll", new_event_vote_path(@event[0].id) , class: ["btn", "btn-primary"] %>
          </div>
        <% end %>
      <% elsif @event[0].creator_type == "Organization" %>
        <% if OrganizationRole.where(user_id: current_user.id, organization_id: @event[0].creator_id).pluck("role") == [1] %>
          <div class="row ml-0 ">
            <%= link_to "Create Poll", new_event_vote_path(@event[0].id) , class: ["btn", "btn-primary"] %>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <h5 class="card-title"><% @votes_title.each_with_index do |votes_title| %>
        <tr>
          <h5><%= votes_title.options %></h5>
        </tr>
      <% end %>
    </h5>
    <div class="card-body">
      <strong>(1)</strong><span class="pull-right"> <%= @votes.where(vote: 1).count %></span><br>
      <strong>(2)</strong><span class="pull-right"> <%= @votes.where(vote: 2).count %></span>
      <br><br>
      <% if user_signed_in? %>
        <p>
          <% @guests.each_with_index do |guest| %>
            <% if guest.user_id == current_user.id %>
              <% if @votes.pluck("invitation_id").exclude? guest.id %>
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Vote", new_event_vote_path(@event[0].id) %></button>
              <% end %>
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<br>

<div class="row ml-0 mt-3">
  <div class="panel panel-default widget">
    <div class="panel-heading">
      <span class="comment"></span>
      <h4 class="panel-title">Recent Comments</h4>
    </div>
    <% if user_signed_in? %>
      <div class="row ml-0 mt-2 mb-3">
        <%= link_to "Add Comment", new_event_comment_path(@event[0].id) , class: ["btn", "btn-primary"] %>
      </div>
    <% end %>
    <div class="panel-body">
      <ul class="list-group">
        <% @comments.each_with_index do |comment| %>
          <tr>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-10 col-md-12">
                  <div>
                    <%= link_to comment.username, user_path(comment.id) %>
                    <% if user_signed_in? %>
                      <% if comment.id == current_user.id %>
                        <p class="float-right">
                          <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Edit", edit_comment_path(comment.comment_id) %></button>
                          <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", Comment.find(comment.comment_id), method: :delete, data: {confirm: "Are you sure?"}%></button>
                        </p>
                      <% elsif @event[0].creator_type == "User" %>
                        <% if current_user.id == @event[0].creator_id %>
                          <p class="float-right">
                            <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", Comment.find(comment.comment_id), method: :delete, data: {confirm: "Are you sure?"}%></button>
                          </p>
                        <% end %>
                      <% elsif @event[0].creator_type == "Organization" %>
                        <% if OrganizationRole.where(user_id: current_user.id, organization_id: @event[0].creator_id).pluck("role") == [1] %>
                          <p class="float-right">
                            <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", Comment.find(comment.comment_id), method: :delete, data: {confirm: "Are you sure?"}%></button>
                          </p>
                        <% end %>
                      <% end %>
                    <% end %>

                    <% if admin_signed_in? %>
                      <p class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Edit", edit_comment_path(comment.comment_id) %></button>
                        <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", Comment.find(comment.comment_id), method: :delete, data: {confirm: "Are you sure?"}%></button>
                      </p>
                    <% end %>
                  </div>
                  <div class="col-xs-10 col-md-12">
                    <%= comment.content %>
                  </div>
                </div>
              </div>
            </li>
          </tr>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
