<p id="notice"><%= notice %></p>

<% @event.each_with_index do |event| %>
  <h3><%= event.name %></h3>
<% end %>

<table>
  <tbody>
  <% @event.each_with_index do |event| %>
    <tr>Date: <%= event.date %></tr><br>
    <tr>Description: <%= event.description %></tr>
  <% end %>
  </tbody>
</table>
<br>

<h4>Voting Section</h4>
<% @votes.each_with_index do |vote| %>
  <tr>
    <td><%= vote.options %></td>
  </tr>
<% end %>
<br><br>
<td>1) <%= @votes1 %></td><br>
<td>2) <%= @votes2 %> </td>
<br><br>

<h4>Comments Section</h4>
<table>
  <thead>
  <th>User</th>
  <th>Comment</th>
  </thead>
  <tbody>
  <% @comments.each_with_index do |comment| %>
    <tr>
      <td><%= link_to comment.username, user_path(comment.id) %></td>
      <td><%= comment.content %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', :back %>
