<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <h4 class="card-title"><%= event.name %>
        <% if event.creator_type == "User" %>
          <% if @current_user.id == event.creator_id %>
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
          <% end %>
        <% elsif event.creator_type == "Organization" %>
          <% if OrganizationRole.where(user_id: @current_user.id, organization_id: event.creator_id).pluck("role") == [1] %>
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_event_path(event.id) %></button>
            <p class="float-right">
              <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", event, method: :delete, remote: true%></button>
            </p>
          <% end %>
        <% end %>
      </h4>
      <% if event.image.attached? == true%>
        <%= image_tag(event.image, width: "400px", background: "#55595c", color: "#eceeef") %>
      <% else %> <%= image_tag("thumbnail.svg", width: "400px", background: "#55595c", color: "#eceeef") %> <% end %>
    <% end %>
  </ul>
</div>
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @event.each_with_index do |event| %>
      <% if event.creator_type == "User" %>
        <li><strong>Host:</strong> <%= link_to User.where(id: event.creator_id).pluck("username")[0], user_path(event.creator_id) %></li>
      <% else %>
        <li><strong>Host:</strong> <%= link_to Organization.where(id: event.creator_id).pluck("name")[0], organization_path(event.creator_id)%> </li>
      <% end %>
      <li><strong>Date:</strong> <%= event.date %></li>
      <li><strong>Description:</strong> <%= event.description %></li>
    <% end %>
  </ul>
</div>

<br>
<h4>Poll Section</h4>
<div class="card" style="width: 24rem;">
  <% @event.each_with_index do |event| %>
    <h5 class="card-title"><% @votes.each_with_index do |vote| %>
        <tr>
          <h5><%= vote.options %></h5>
        </tr>
      <% end %></h5>
  <% end %>
  <div class="card-body">
    <strong>(1)</strong><span class="pull-right"> <%= @votes1 %></span><br>
    <strong>(2)</strong><span class="pull-right"> <%= @votes2 %></span>
    <br><br>
    <p>
      <button type="button" class="btn btn-sm btn-outline-secondary">Vote</button>
    </p>
  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="panel panel-default widget">
      <div class="panel-heading">
        <span class="comment"></span>
        <h4 class="panel-title">Recent Comments</h4>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @comments.each_with_index do |comment| %>
            <tr>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-10 col-md-12">
                    <div>
                      <%= link_to comment.username, user_path(comment.id) %>
                    </div>
                    <div class="col-xs-10 col-md-12">
                      <%= comment.content %>
                    </div>
                  </div>
                </div>
              </li>
            </tr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<br>
<button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
