<p id="notice"><%= notice %></p>

<h3>Invitations</h3>

<table>
  <thead>
  <th>Event</th>
  </thead>
  <tbody>
  <% @invitations.each do |invitation| %>
    <tr>
      <td><%= link_to invitation.event.name, event_path(invitation.event.id) %></td>
      <th> | </th>
      <td><%= link_to 'Delete', invitation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invitation', new_user_invitation_path%>

<br><br>

<%= link_to 'Back', :back %>