<div class="row ml-0 mt-3">
  <h4>Organizations</h4>
</div>

<form class="form-inline mr-3" id="search_form">
  <input class="form-control mr-sm-2" id="search_box" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" id="search_organizations_button" type="submit">Search</button>
</form>

<% if user_signed_in? %>
  <div class="row ml-0 mt-2 mb-3">
    <%= link_to 'New Organization', new_organization_path, class: ["btn", "btn-primary"] %>
  </div>
<% end %>

<div class="row ml-0 mt-3">
  <% if @organizations.count == 0 %>
    <div class="row ml-0">
      No organizations at the moment!
    </div>
  <% else %>
    <% @organizations.each_with_index do |organization| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <p class="card-text"><%= link_to organization.name, organization %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", organization %></button>
                <% if user_signed_in? %>
                  <% if OrganizationRole.where(user_id: current_user.id, organization_id: organization.id).pluck("role") == [1]%>
                    <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(organization) %></button>
                    <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", organization, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
                  <% end %>
                <% end %>
                <% if admin_signed_in? %>
                  <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", organization, method: :delete, data: {confirm: "Are you sure?"}, remote: true%></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row ml-0 mt-3">
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', root_path %></button>
</div>
