<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @organization.each_with_index do |organization| %>
      <h4 class="card-title"><%= organization.name %>
        <% if user_signed_in? %>
          <% if OrganizationRole.where(user_id: @current_user.id, organization_id: organization).pluck("role") == [1] %>
            <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_organization_path(organization.id) %></button>
            <p class="float-right">
              <button type="button" class="btn btn-sm btn-outline-danger"><%= link_to "Delete", organization, method: :delete, remote: true%></button>
            </p>
          <% elsif OrganizationRole.where(user_id: @current_user.id, organization_id: organization).count == 0 %>
            <p class="float-right">
              <%= link_to "Join", new_organization_organization_role_path(@organization[0].id), class: ["btn", "btn-sm btn-outline-secondary"] %>
            </p>
          <% end %>
        <% end %>
      </h4>
      <% if organization.org_image.attached? == true%>
        <%= image_tag(organization.org_image, width: "400px", background: "#55595c", color: "#eceeef") %>
      <% else %> <%= image_tag("thumbnail.svg", width: "400px", background: "#55595c", color: "#eceeef") %> <% end %>
    <% end %>
  </ul>
</div>
<div class="row ml-0 mt-3">
  <ul class="list-unstyled">
    <% @organization.each_with_index do |organization| %>
        <li><strong>Moderator:</strong> <%= link_to @admin.user.username , user_path(@admin.user.id) %></li>
        <li><strong>Description:</strong> <%= organization.description %></li>
        <% end %>
  </ul>
</div>

<div class="row ml-0 mt-3">
  <h5>Public Events</h5>
</div>
<div class="row ml-0">
  <ul class="list-unstyled">
    <% if @events.count == 0 %>
      <div class="row ml-0 ">
        No public events at the moment!
      </div>
    <% else %>
      <% @events.each_with_index do |event| %>
        <li><strong><%= link_to event.name, event_path(event.id) %></strong></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row ml-0 mt-3">
  <h5>Members</h5>
</div>
<div class="row ml-0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @members.each_with_index do |member| %>
      <tr>
        <td><%= link_to member.user.username, user_path(member.user.id) %></td>
        <td><% if member.role == 0 %> Normal <% else %> Moderator <% end %></td>
        <% if user_signed_in? %>
          <% if @current_user.id == @admin.user.id and member.user.id != @current_user.id %>
            <td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Remove", member, method: :delete, remote: true%></button></td>
          <% elsif @current_user.id != @admin.user.id and member.user.id == @current_user.id %>
            <td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Leave", member, method: :delete, remote: true%></button></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="row ml-0 mt-3">
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back', :back %></button>
</div>