<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectFroman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <%= link_to "Events App", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Invitations", user_invitations_path(3), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Created Events", user_events_path(3), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "My Organizations", user_organization_roles_path(3), class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "All Users", users_url, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "All Organizations", organizations_path, class: "nav-link" %></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-2" id="user_info">
        <br>
        <h3><%= link_to User.third.username, user_path(3) %></h3>
        <%= image_tag(src="http://placehold.it/80", class: "card-img-top", width: "100%", background: "#55595c", color: "#eceeef") %>

        <td><strong>Name:</strong> <%= User.third.name %> <%= User.third.lastName %></td><br>
        <td><strong>Role:</strong> <% if User.third.mainRole == 0 %> Common <% else %> Administrator <% end %></td><br>
        <td><button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", edit_user_path(User.third.id) %></button></td>
      </aside>
      <main class="col-sm-10" id="main_content">
        <%= yield %>
      </main>
    </div>
  </div>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to 'Back to top', :back %></button>
    </div>
  </footer>

  </body>
</html>
