<!DOCTYPE html>
<html>
  <head>
    <title>CourseProjectFroman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <header>
    <h1><%= link_to "Events App", root_path %></h1>
  </header>
  <nav>
    <ul id="navbar">
      <li><%= link_to "Invitations", user_invitations_path(3) %></li>
      <li><%= link_to "Created Events", user_events_path(3) %></li>
      <li><%= link_to "My Organizations", user_organization_roles_path(3) %></li>
      <li><%= link_to "All Users", users_url %></li>
      <li><%= link_to "All Organizations", organizations_path %></li>
    </ul>
  </nav>
  <div id="container">
    <aside id="user_info">
      <h3>User Information</h3>
      
      <li>Username: <%= User.third.username %></li>
      <li>Mail: <%= User.third.email %> </li>
      <li>Name: <%= User.third.name %> <%= User.third.lastName %></li>
      <li>Biography: <%= User.third.biography %></li>
      <li>Role: <% if User.third.mainRole == 0 %> Common <% else %> Administrator <% end %></li>
    </aside>
    <main id="main_content">
      <%= yield %>
    </main>
  </div>

  </body>
</html>
